<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xzw.zero.mapper.UserMapper">

    <!-- 资金账号成交查询 -->
	<select id="findByMyBatis" parameterType="map" resultType="com.entity.OperateLogTest">
	
	  <![CDATA[
 
	  SELECT 
	  	t.id id,
	  	t.job_name jobName
	  
	  from t_dh_operate_log_test t 
 		where 1=1 
	
      ]]>
	<!-- 	  <if test="blockClearLog.funcFlag != null and blockClearLog.funcFlag !='' ">
		  	AND 	t.func_flag like CONCAT('%', #{blockClearLog.funcFlag,jdbcType=VARCHAR}, '%')  
		  </if> -->
	</select>
	
	
</mapper>