<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="safeRowBoundsEnabled" value="true" />
		<setting name="logPrefix" value="mybatis_" />		
	</settings>
	<typeAliases>
		<!-- <typeAlias alias="Trader" type="com.quantdo.standard.entity.Trader" 
			/> -->
	</typeAliases>
    <plugins>
       <plugin interceptor="com.jpaconfig.PageInterceptor">           
       </plugin>
    </plugins>			
</configuration>